<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Assignment App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="ion-padding">
  <ion-button (click)="gotoDevicePage()" expand="full" shape="round">Device Information</ion-button>

 </div>

 <div class="ion-padding">

  <ion-button (click)="gotoGeolocationPage()" expand="full" shape="round">Geolocation</ion-button>

 </div>

 <div class="ion-padding">

  <ion-button (click)="gotoPDFGeneratePage()" expand="full" shape="round">PDF Generate</ion-button>
 </div>
</ion-content>
